name: x86-windows
on: push
jobs:
  x86-windows:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Download prebuilt qt 5.6
      shell: bash
      run: |
        mkdir C:/Qt
        cd C:/Qt
        curl --retry 5 --connect-timeout 30 --location --remote-header-name --output qt.7z https://github.com/xavery/qt563xp/releases/download/1.2/Qt-5.6.3-Static-XP.7z
        7z x qt.7z
        rm qt.7z
    - name: Set x86 windows build tools as default
      uses: ilammy/msvc-dev-cmd@v1
      with:
          arch: win32
          toolset: 14.16
    - name: Make v141_xp toolset v141
      shell: bash
      run: |
        cd "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Microsoft\VC\v150\Platforms\Win32\PlatformToolsets"
        rm -r v141 || true
        mv v141_xp v141
    - name: Qmake build
      shell: cmd
      run: |
        set PATH=C:\Qt\5.6.3-Static-XP\bin;%PATH%
        mkdir build && cd build
        qmake -o Makefile ../Datacorn.pro
        set CL=/MP
        nmake release
    - name: Setup directory with artifacts
      shell: bash
      run: |
        export RDIR=Datacorn
        mkdir $RDIR
        cp build/binary/Datacorn.exe $RDIR/
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: Datacorn
        path: Datacorn/
    - name: Release
      if: ${{ github.ref == 'refs/heads/master' }}
      uses: svenstaro/upload-release-action@v2
      with:
        overwrite: true
        asset_name: Datacorn.exe
        prerelease: true
        tag: |
          latest
        file: |
          Datacorn/Datacorn.exe

  x86-windows-msys2-mingw32:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Setup msys2 with static qt
      uses: msys2/setup-msys2@v2
      with:
        msystem: mingw32
        install: mingw-w64-i686-qt5-static mingw-w64-i686-toolchain make upx
    - name: Qmake build
      shell: msys2 {0}
      run: |
        export PATH=/mingw32/qt5-static/bin/:$PATH
        mkdir build && cd build
        qmake -o Makefile ../Datacorn.pro
        make release -j2
    - name: Setup directory with artifacts
      shell: msys2 {0}
      run: |
        export RDIR=Datacorn
        mkdir $RDIR
        upx -9 -o $RDIR/Datacorn.exe build/binary/Datacorn.exe
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: Datacorn-mingw
        path: Datacorn/
    - name: Release
      if: ${{ github.ref == 'refs/heads/master' }}
      uses: svenstaro/upload-release-action@v2
      with:
        overwrite: true
        asset_name: Datacorn-mingw.exe
        prerelease: true
        tag: |
          latest
        file: |
          Datacorn/Datacorn.exe

  x86-windows-msys2-mingw32-qt6:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Setup msys2 with static qt
      uses: msys2/setup-msys2@v2
      with:
        msystem: mingw32
        install: mingw-w64-i686-qt6-static mingw-w64-i686-toolchain make upx
    - name: Qmake build
      shell: msys2 {0}
      run: |
        export PATH=/mingw32/qt6-static/bin/:$PATH
        mkdir build && cd build
        qmake QMAKE_LIBS+="-lgraphite2 -lbz2 -lusp10 -lRpcrt4" -o Makefile ../Datacorn.pro
        make release -j2
    - name: Setup directory with artifacts
      shell: msys2 {0}
      run: |
        export RDIR=Datacorn
        mkdir $RDIR
        upx -9 -o $RDIR/Datacorn.exe build/binary/Datacorn.exe
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: Datacorn-mingw-qt6
        path: Datacorn/
    - name: Release
      if: ${{ github.ref == 'refs/heads/master' }}
      uses: svenstaro/upload-release-action@v2
      with:
        overwrite: true
        asset_name: Datacorn-mingw-qt6.exe
        prerelease: true
        tag: |
          latest
        file: |
          Datacorn/Datacorn.exe
